<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/bootstrap/base")
	@Styles.Render("~/Content/default")

	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
	<script>
			//// Used when working on layout.
			//setTimeout(function () {
			//        location.reload();
			//}, 2000);
	</script>
	<div id="css_footer_wrap">
		<div id="css_footer_body">
			@HeaderContent()
			<div id="container">
				@RenderBody()
			</div>
		</div>
	</div>
	@FooterContent()
</body>
</html>

@helper HeaderContent()
{
<div id="header" class="diagonal_bar_pattern">
	StaC
</div>
}

@helper FooterContent()
{
<div id="css_footer_footer" class="diagonal_lines_pattern">
	<div id="footer_content">
		<div>This is some fancypants footer content that is super cool and stuff.</div>
		<div>Something break? <a href="mailto:chapman.cliff@gmail.com">Email Webmaster</a></div>
	</div>
</div>
}