@using PlayWeb.DAL
@using SimpleAuthentication.Mvc
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/default")

	@Scripts.Render("~/bundles/modernizr")
	@AjaxFilterSetup()
</head>
<body>
	@Scripts.Render("~/bundles/jquery")
	@RenderSection("scripts", required: false)
	<script>
			//// Used when working on layout.
			//setTimeout(function () {
			//        location.reload();
			//}, 2000);
		</script>
	<div id="css_footer_wrap">
		<div id="css_footer_body">
			@HeaderContent()
			<div id="container">
				@RenderBody()
			</div>
		</div>
	</div>
	@FooterContent()
</body>
</html>

@helper HeaderContent()
{
	<div id="header" class="diagonal_bar_pattern">
		<div id="site_title">
			<a href="~/">StaC</a>
		</div>
		@if (Session["User"] != null)
		{
			@Helpers.UserBar((User) Session["User"])
		}
		else
		{
			@Helpers.UserBarSignIn(Url.RedirectToProvider("google"))
		}
	</div>
}

@helper FooterContent()
{
<div id="css_footer_footer" class="diagonal_lines_pattern">
	<div id="footer_content">
		<div>This is some fancypants footer content that is super cool and stuff.</div>
		<div>Something break? <a href="mailto:chapman.cliff@gmail.com">Email Webmaster</a></div>
	</div>
</div>
}

@helper AjaxFilterSetup()
{
	<script>
		$.ajaxPrefilter(function(options, originalOptions, jqXHR) {
			jqXHR.setRequestHeader('RequestVerificationToken', '@TokenHeaderValue()');
		});
	</script>
}

@functions
{

	public string TokenHeaderValue()
	{
		string cookieToken, formToken;
		AntiForgery.GetTokens(null, out cookieToken, out formToken);
		return cookieToken + ":" + formToken;
	}

}
